<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Document</title>
</head>
<body>
    <form action="/" method="post">
        <input name="name" placeholder="name">
        <input name="email" placeholder="email">
        <input name="password" placeholder="password">
        <input name="confirmed-password" placeholder="confirmed-password">
        <input name="birth-day" placeholder="birth-day">
        <input type="submit">
    </form>

    <div id="error-container">
        <% if (errors && errors.length > 0) { %>
            <ul>
                <% errors.forEach(function(error) { %>
                    <li><%= error.msg %></li>
                <% }) %>
            </ul>
        <% } %>
    </div>
</body>
</html>